@import 'tailwindcss';

@font-face {
	font-family: 'Figtree';
	src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Figtree';
	src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 300 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-figtree: 'Figtree', sans-serif;

	--shadow-hard: 8px 8px 0px 0px hsl(0, 0%, 7%);

	--color-yellow: hsl(47, 88%, 63%);
	--color-white: hsl(0, 0%, 100%);
	--color-gray-500: hsl(0, 0%, 42%);
	--color-gray-950: hsl(0, 0%, 7%);
}

body {
	@apply bg-yellow h-screen flex flex-col items-center justify-center p-8 space-y-4 font-figtree;
}
